{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}
    <div class="container p-4 border mt-sm-5" style="max-width: 1000px; max-height: 1000px">
      <h1 class="display-6 text-center pb-4">User profile</h1>
      <div>
          {% if request.user.is_authenticated %}
            <p>Phonenumber : {{ request.user }}</p>
            <p>Referral code : {{ request.user.referal_code }}</p>

            {% if request.user.referal_user %}
            <p>Referral user : {{ request.user.referal_user }}</p>
            <p>Invited users : {{ request.user.get_invited_users }} </p>

            {% else %} 
            <form method="POST" action="{% url 'profile' %}">
              {% csrf_token %}
              <label for="input-code">Referral user : </label>
              <input type="text" id="input-code" name="referal_user" placeholder="8b4a70">
              <input type="submit" value="Save" />
            </form>

            <p>Invited users : {{ request.user.get_invited_users }} </p>
            
            {% endif %}

          {% else %}
            <p> Такого профиля не существует. </p>
          {% endif %}
      </div>
      <form>
      </form>
    </div>
{% endblock %}
